<h1>Listing abilities</h1>

<div class="col-md-4">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @abilities.each do |ability| %>
        <tr>
          <td><%= link_to ability.identifier.capitalize, ability %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
