<!DOCTYPE html>
<html>
<head>
  <title>Pokedb</title>
  <link type="text/css" href="/app/assets/css/bootstrap.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">PokemonDB</a>
      <ul class="nav navbar-nav">
        <li><a href="/pokemons">Pokemon</a></li>
        <li><a href="/moves">Moves</a></li>
        <li><a href="/types">Types</a></li>
        <li><a href="/daycares">Daycare</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <%= yield %>

  </div>
</body>
</html>
